<script type="text/ng-template" id="templates/living.html">
  <div class="cc-page-living" data-ng-cloaks>

    <div class="medium-9 medium-push-3 columns cc-page-living-content">

      <!-- <h1 data-ng-bind="currentTopCategory"></h1> -->
      <div class="cc-widget">
        <div class="cc-widget-title">
          <h2>Washers and Dryers</h2>
        </div>
        <div class="cc-widget-padding">



          <div class="cc-table cc-table-sortable cc-page-myfinances-table">
            <table>


              <thead>
                <tr>
                  <th width="10%" data-ng-click="changeSorting('starred')">
                    Star
                  </th>
                  <th width="45%" data-ng-click="changeSorting('location')">
                    Location <i data-ng-class="getSortClass('location')"></i>
                  </th>
                  <th width="25%" data-ng-click="changeSorting('washersAvailable')">
                    Washers <i data-ng-class="getSortClass('washersAvailable')"></i>
                  </th>
                  <th width="25%" data-ng-click="changeSorting('dryersAvailable')">
                    Dryers <i data-ng-class="getSortClass('dryersAvailable')"></i>
                  </th>
                </tr>
              </thead>

              <tbody class="cc-widget-table-hover ng-scope" data-cc-accessible-focus-directive="" tabindex="0" data-ng-repeat="machine in laundry | orderBy:sort.column:sort.descending">
                <tr>
                  <td class="cc-widget-table-hover-notriangle">
                     <i data-ng-click="toggleStar(machine)" data-ng-class="getStarredClass(machine)" class="star"></i>
                  </td>
                  <td class="cc-widget-table-hover-notriangle" data-ng-bind="machine.location">
                  </td>
                  <td class="cc-widget-table-hover-notriangle" data-ng-bind="machine.washersStatus">
                  </td>
                  <td class="cc-widget-table-hover-notriangle" data-ng-bind="machine.dryersStatus">
                  </td>
                </tr>
              </tbody>

            </table>
          </div>




        </div>
      </div>

    </div>

    <div class="medium-3 medium-pull-9 columns cc-page-campus-navigation" id="cc-local-navigation">

      <div data-ng-repeat="navitem in navigation">
        <h3 data-ng-show="navitem.label">{{navitem.label}}</h3>
        <ul>
          <li data-ng-class="{'active':(currentTopCategory==category.name)}" data-ng-repeat="category in navitem.categories">
            <a data-ng-href="/living/{{category.id}}">{{category.name}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</script>
